[package]
name = "aquadoggo_cli"
version = "0.2.0"
authors = [
    "adz <x12@adz.garden>",
    "cafca <cafca@001.land>",
    "pietgeursen <pietgeursen@gmail.com>",
    "sandreae <contact@samandreae.com>",
    "sophiiistika <sophiiistika@mailbox.org>",
    "glyph <glyph@mycelial.technology>",
]
license = "AGPL-3.0-or-later"
repository = "https://github.com/p2panda/aquadoggo"
readme = "README.md"
edition = "2018"

[[bin]]
name = "aquadoggo"
path = "src/main.rs"
doc = false

[dependencies]
anyhow = "1.0.62"
clap = { version = "4.1.8", features = ["derive"] }
env_logger = "0.9.0"
hex = "0.4.3"
libp2p = "0.52.0"
p2panda-rs = "0.7.1"
tokio = { version = "1.28.2", features = ["full"] }

[dependencies.aquadoggo]
version = "~0.4.0"
path = "../aquadoggo"

[dev-dependencies]
tempfile = "3.4.0"
