name: build and upload docker image

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build-and-push:
    name: build-and-push

    runs-on: ubuntu-latest

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Get ref
        id: parse_ref
        run: |
          echo ::set-output name=tag::${GITHUB_REF/refs\/tags\//}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            p2panda/aquadoggo:latest
            p2panda/aquadoggo:${{ steps.parse_ref.outputs.tag }}
