name: release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    strategy:
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu # ARM64 Linux (kernel 4.1, glibc 2.17+)
            os: ubuntu-latest
          - target: x86_64-unknown-linux-gnu # 64-bit Linux (kernel 3.2+, glibc 2.17+)
            os: ubuntu-latest
          - target: armv7-unknown-linux-gnueabihf # ARMv7-A Linux, hardfloat (kernel 3.2, glibc 2.17, RPi)
            os: ubuntu-latest
          - target: aarch64-apple-darwin # ARM64 macOS (11.0+, Big Sur+)
            os: macos-latest
          - target: x86_64-apple-darwin # # 64-bit macOS (10.7+, Lion+)
            os: macos-latest
          - target: x86_64-pc-windows-gnu # 64-bit MinGW (Windows 7+)
            os: windows-latest
          - target: x86_64-pc-windows-msvc # 64-bit MSVC (Windows 7+)
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: aquadoggo
          tar: unix
          zip: windows
          checksum: sha256,sha512
          archive: $bin-$tag-$target
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
